*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
main{
    width: 100%;
    height: 100vh;
    position: relative;
    left: -1500px;
    animation-name: main;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
nav{
    width: 100%;
    height:100px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}
.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
      
       border-top-right-radius: 60px;
       border-bottom-right-radius: 60px;
       background-image: linear-gradient(to left, rgb(74, 73, 73),black ,black,gray );
}
.nav2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
     transition: all 1s;

}
a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: black;
}
.about-me{
 color: white;
 font-size: 40px;
}

.name-img{
    display: flex;
    margin-top: 50px;
}.giri{
    height: 300px;
    width: 300px;
    align-self: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.name{
    width: 70%;

}
p{
    padding: 10px 20px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(to right, black,white);
    background-clip: text;
    -webkit-background-clip: text
    ;
}
.down{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
}
.dow-hire{
    display: flex;
    width: 65%;
    justify-content: space-evenly;
    margin-top: 30px;
}
.hire{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 2px solid black;
}
.dow-hire a{
    font-size: 30px;
    padding: 10px 20px;
}
.language{
    width: 60%;
    padding: 10px 30px;
    border: 5px solid black;
    border-radius: 50px;
    margin-top: 30px;
margin-left: 20px;
}
.logos{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    
}
.l1{
    height: 40px;
    width: 40px;
}
nav input{
    display: none;
}
input:checked~.nav2{
    background-color: black;
    right: 5%;
}
.icon{
    display: none;
}
label{
    display: none;
}
.slid{
    color: black;
}

@keyframes main {
    to{
        opacity: 1;
        left:0;
    }
}
@media only screen and (max-width:950px) {
    .nav2{
        position: fixed;
        top: 100px;
        background-color: black;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
        border-radius: 10px;
    }
    .icon{
        display: block;
        color: black;
        font-size: 40px;
    }
    label{
        display: block;
         color: black;
    }
    a{
        color: white;
        mix-blend-mode: none;
    }
}

@media only screen and (min-width:300px) and (max-width:900px) {
   .name{
    width: 100%;
    flex-wrap: wrap;
   } 
   .name-img{
    flex-direction: column-reverse;
   }
   .about-me{
    font-size: 20px;
   }
   .nav1{
    height: 60%;
   }
   .dow-hire {
   
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.language {
    width: 100%;
   
    margin-left: 0px;
}
} 