*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
     background: linear-gradient(to right,white 30%, black 30%);
     position: relative;
     animation-name: contact;
     animation-duration: 1s;
     animation-fill-mode: forwards;

}
h1{
   
    font-weight: 800;
    font-size: 100px;
    mix-blend-mode: difference;
    color: white;
   margin-top: 30px;
}
nav{
    padding: 0px 10px;
    width: 100%;
    height: 100px;
      /* background: linear-gradient(to right, white 30%, black 70%); */
    display: flex;

  align-items: center;

  justify-content:space-between;

  font-size: 2rem;

  font-weight: bold;

  color: white;
transition-duration: 2s;

}
.n1{
    margin: 30px 0px;
}
.img-box{
    width: 30%;
    margin-left: 50px;
    height: 600px;

}
.mail{
    position: relative;
    background:rgba(250, 242, 242, 0.943) ;
    top: -100px;
    left: 50px;
    font-weight: 800;
    padding: 10px;
    z-index: 10;
    width: 70%;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
}
.input{
    width: 50%;

}
input{
    width: 100%;
    padding: 30px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.img-input{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
     background-color: black;
    border: 1px solid white;
    padding: 30px 10px;
    border-radius: 10px;
}
.input button{
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 800;
}
input::placeholder{
    color: white;
    font-size: 20px;
}
textarea::placeholder{
    font-size: 20px;
    color: white;
}
h2{
    color: white;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 10px;
    mix-blend-mode: difference;
}
.up-icon{
    color: black;
    height: 100px;
    width: 100px;
    background-color: white;
    font-size: 35px;
    border-radius: 50%;
    padding: 30px;
    text-align: right;
}
.up{
    font-size: 35px;
}
.icon-up{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* a{
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
    font-size: 30px;
}
.n2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

} */

nav input{
    display: none;
}
input:checked~.n2{
    background-color: black;
    right: 5%;
}
.icon{
    display: none;
}
label{
    display: none;
}

@keyframes contact {
    from{
        left: -1700px;
    }
    to{
        left: 0;
    }
}
@media only screen and (max-width:950px) {
    .n2{
        position: fixed;
        top: 90px;
        background-color: white;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
    }
    .icon{
        display: block;
    }
    label{
        display: block;
    }
    a{
        mix-blend-mode: none;
    }
}


@media only screen and (min-width:300px) and (max-width:450px) {
    
    .img-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        width: 90%;
        margin-left: 0px;
    }
    .input{
        width: 80%;
    }
    h1{
        font-size: 40px;
    }
    h2{
        mix-blend-mode: difference;
        font-size: 25px;
    }
    .mail{
        font-size: 20px;
    }
}
@media only screen and (min-width:450px) and (max-width:750px) {
    
    .img-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        width: 70%;
    }
    .input{
        width: 80%;
    }
    h1{
        font-size: 40px;
    }
}


@media only screen and (min-width:750px) and (max-width:1000px) {
.mail{
    font-size: 15px;
}
}

@media only screen and (min-width:1000px) and (max-width:1200px) {
.mail{
    font-size: 20px;
}
}

