*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
     font-family: 'Futura PT';
}
body{
    overflow-x: hidden;
}
main{
    width: 100%;
    min-height: 100vh;
     background: linear-gradient(to right, white 70%, black 30%);
animation-name: home;
animation-duration: 1s;
animation-fill-mode: forwards;
position: relative;
opacity: 0;
}
h1{
    color: black;
    font-weight: 600;
    font-size: 50px;
     font-family: 'Futura PT';
}
.a-p{
    font-size: 20px;
    mix-blend-mode: difference;
     font-family: 'Futura PT';
}
nav{
    padding: 0px 10px;
    width: 100%;
    height: 100px;
      background: linear-gradient(to right, white 70%, black 30%);
    display: flex;

  align-items: center;

  justify-content:space-between;

  font-size: 2rem;

  font-weight: bold;

  color: white;
transition-duration: 2s;

}
a{
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
    font-size: 30px;
     font-family: 'Futura PT';
}

.n2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}
.data{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.giri1{
    height: 300px;
    width: 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.data2 h2,p,h3{
    color: white;
    mix-blend-mode: difference;
     font-family: 'Futura PT';
}
.data2 h2{
    font-size: 40px;
    font-weight: 600;
}
.data2 p{
    font-size: 50px;
    width: 90%;
     font-weight: 600;
}
.data2 h3{
    font-size: 20px;
     font-weight: 600;
}
.data1{
    width: 40%;

}
.data2{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.data1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
   
    background-color: black;
    color: white;
}
.lets{
    background-color:white;
    color: black;
}
button{
    border: none;
    border: 2px solid black;
     padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
}
.view-lets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav input{
    display: none;
}
input:checked~.n2{
    background-color: black;
    right: 5%;
    border-radius: 10px;
}
.icon{
    display: none;
}
label{
    display: none;
}

@keyframes home {
    from{
        left: 2000px;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }

}
@media only screen and (max-width:950px) {
    .n2{
        position: fixed;
        top: 90px;
        background-color: white;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
        transition: all 1s;
    }
    .icon{
        display: block;
    }
    label{
        display: block;
    }
    a{
        mix-blend-mode: unset;
    }
}

@media only screen and (min-width:300px) and (max-width:600px){
.data{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.n1 h1{
    font-size: 30px;
}
.data2 p{
    font-size: 30px;
    width: 100%;
}
.data2 h2{
    font-size: 30px;

}
.data2 h3{
    font-size: 16px;
}
.data2{
    width: 100%;
    text-align: center;
padding: 10px 20px;

}
.view-lets button{
    font-size: 10px;
}
.a-p{
    font-size: 15px;
    mix-blend-mode: difference;
}
}

@media only screen and (min-width:600px) and (max-width:900px){
    .a-p{
        font-size: 15px;
    }
    button{
        font-size: 15px;
    }
}
@media only screen and (min-width:950px) and (max-width:1200px) {
    a{
        font-size: 20px;
    }
    .n1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .n1 h1{
        margin-bottom: 0px;
    }
    .a-p{
    font-size: 15px;
    mix-blend-mode: difference;
}
}

