*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Futura PT';
}
main{
    position: relative;
}
.loading-box{
    display: flex;
    width: 100%;
    height:100vh ;
    position: absolute;
    overflow: hidden;
    animation-name: loading-box;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
   opacity: 1;

}

.white-side{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    left: 0;
    animation-name: l-white-side;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.black-side{
     animation-fill-mode: forwards;
     animation-name: l-black-side;
    animation-delay: 6s;
    animation-duration: 1s;
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content:start;
    align-items: end;
    position: absolute;
    right: 0;
}
h1{
    font-size: 150px;
    margin-bottom: 50px;
     font-family: 'Futura PT';
}
.l,.o,.a,.d{
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: 5;
     font-family: 'Futura PT';

}
.i,.n,.g{
animation-name: ing;
animation-duration: 1s;
animation-iteration-count: 5;
 font-family: 'Futura PT';
}
.d1{
    animation-name: d1;
    animation-duration: 5s;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.d2{
    animation-name: d2;
    animation-duration: 5s;
      opacity: 0;
      animation-delay: 2s;
       animation-fill-mode: forwards;
}
.d3{
    animation-name: d3;
    animation-duration: 5s;
      opacity: 0;
      animation-delay: 3s;
       animation-fill-mode: forwards;
}
@keyframes loading-box {
    to{
        opacity: 0;
        display: none;
    }
}
@keyframes load {

     from{
        color: black;
     }
     to{
        color: gray;
     }
}

@keyframes ing {

   from{
    color: white;
   }
   to{
    color: gray;
   }
}
@keyframes d1  {
    0%{
opacity: 0;

    }
    20%{
opacity: 1;

color: white;
    }
    40%{
opacity: 1;
color: gray;
    }
    60%{
opacity: 1;
color: white;
    }
    80%{
opacity: 1;
color: gray;
    }
    100%{
opacity: 1;
color: white;
    }
}

@keyframes d2  {
    0%{
opacity: 0;

    }
    20%{
opacity: 1;

color: white;
    }
    40%{
opacity: 1;
color: gray;
    }
    60%{
opacity: 1;
color: white;
    }
    80%{
opacity: 1;
color: gray;
    }
    100%{
opacity: 1;
color: white;
    }
}

@keyframes d3  {
    0%{
opacity: 0;

    }
    20%{
opacity: 1;

color: white;
    }
    40%{
opacity: 1;
color: gray;
    }
    60%{
opacity: 1;
color: white;
    }
    80%{
opacity: 1;
color: gray;
    }
    100%{
opacity: 1;
color: white;
    }
}

@keyframes l-white-side {
    0%{
        left: 0;
    }
    to{
        left: -1000px;
    
    }
}
@keyframes l-black-side {
    from{
        right: 0;
    }
    to{
        right: -1000px;
    }
}

.welcome-box{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    transform: scale(0);
    animation-duration: 1.5s;
    animation-delay: 6s;
    animation-name: welcome-box;
    animation-fill-mode: forwards;
    overflow: hidden;
}
.w-white-box{
    width: 60%;
    height: 100%;
    background-color: white;
}
.w-black-box{

    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
}
.giri{
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 3;
}
.welcome-box h2{

    font-size: 100px;
     font-family: 'Futura PT';
}
.w-white-box{
    position: relative;
}
.w-black-box{
    position: relative;
}
.port{
    position: absolute;
    right:5px;
    bottom: 100px;
    display: flex;
    animation-name:port;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

.folio{
    position: absolute;
    bottom: 100px;
    left: 5px;
    display: flex;
    animation-name: folio;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
h2{
     font-family: 'Futura PT';
}
.welcome{
    position:absolute;
    right: -500px;
    bottom: 200px;
      animation-name: welcome;
      animation-duration: 1s;
      animation-delay: 6s;
      animation-fill-mode: forwards;
}
.to-my{
    position: absolute;
    left: 5px;
    bottom: -230px;
  animation-duration: 1s;  
    animation-name: to-my;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
h3{
    font-size: 50px;
     font-family: 'Futura PT';
}
@keyframes port {
    to{
       bottom: 1600px; 
    }
}
@keyframes folio {
    to{
        bottom:1600px;
    }
}
@keyframes welcome-box {
    0%{
transform: scale(0.1);
opacity: 1;
    }
    20%{
transform: scale(1);
opacity: 1;
    }
    40%{
transform: scale(1);
opacity: 1;
    }
    60%{
transform: scale(1);
opacity: 1;
    }
    80%{
transform: scale(1);
opacity: 1;
    }
    100%{
        transform: scale(1);
opacity: 0;
display: none;
    }
}

@keyframes welcome {
    to{
        right: 5px;
    bottom: 200px;
    }
}

@keyframes to-my {
to{
    left: 5px;
    bottom: 200px;
}
}

@media only screen and (min-width:300px) and (max-width:600px){
h1{
    font-size: 50px;
}
.giri{
    width: 200px;
    height: 200px;
    top: 10%;
    left: 50%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.welcome-box h2{

    font-size: 50px;
}
h3{
    font-size: 30px;
}
.port{
    bottom: 140px;
}
.folio{
    bottom: 140px;
}
}
@media only screen and (min-width:300px) and (max-width:400px)
{
    .welcome-box h2{

    font-size: 35px;
}
.port{
    bottom: 160px;
}
.folio{
    bottom: 160px;
}
}


@media only screen and (min-width:600px) and (max-width:900px){
h1{
    font-size: 80px;
}

.welcome-box h2{

    font-size: 80px;
}
h3{
    font-size: 50px;
}
.giri{
    width: 200px;
    height: 200px;
    top: 10px;
    left: 75%;
}
}

.details{
    width: 100%;
    min-height: 100vh;
     background: linear-gradient(to right, white 70%, black 30%);
     animation-name: details;
     animation-delay: 7s;
     animation-duration: 1s;
     transition: all 2s;
     transform: scale(0);
     position: absolute;
     animation-fill-mode: forwards;
}

.n1 h1{
    color: black;
    font-weight: 600;
    font-size: 30px;
     font-family: 'Futura PT';
}
nav{
    padding: 0px 10px;
    width: 100%;
    height: 100px;
      background: linear-gradient(to right, white 70%, black 30%);
    display: flex;

  align-items: center;

  justify-content:space-between;

  font-size: 2rem;

  font-weight: bold;

  color: white;
z-index: 999;

}
a{
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
    font-size: 25px;
     font-family: 'Futura PT';
}
.n2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}
.data{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.giri1{
    height: 300px;
    width: 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.data2 h2,p,h3{
    color: white;
    mix-blend-mode: difference;
     font-family: 'Futura PT';
}
.data2 h2{
    font-size: 40px;
    font-weight: 600;
}
.data2 p{
    font-size: 50px;
    width: 90%;
     font-weight: 600;
}
.data2 h3{
    font-size: 20px;
     font-weight: 600;
}
.data1{
    width: 40%;

}
.data2{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.data1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
   
    background-color: black;
    color: white;
}
.lets{
    background-color:white;
    color: black;
}
button{
    border: none;
    border: 2px solid black;
     padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
}
.a-p{
    font-size: 20px;
     font-family: 'Futura PT';
}
.view-lets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav input{
    display: none;
}
input:checked~.n2{
    background-color: black;
    right: 5%;
    border-radius: 10px;
}
.icon{
    display: none;
}
label{
    display: none;
}
 .n1 h1{
        margin-bottom: 0px;
         font-family: 'Futura PT';
    }

@keyframes details {
    from{
        transform: scale(0);
    }
    to{
    transform: scale(1);
    }
}
@media only screen and (max-width:950px) {
    .n2{
        position: fixed;
        top: 90px;
        background-color: white;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
        transition: all 1s;
    }
    .icon{
        display: block;
    }
    label{
        display: block;
    }
    a{
        mix-blend-mode: unset;
    }
}

@media only screen and (min-width:300px) and (max-width:600px){
.data{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.n1 h1{
    font-size: 30px;
}
.data2 p{
    font-size: 30px;
    width: 100%;
}
.data2 h2{
    font-size: 30px;

}
.data2 h3{
    font-size: 16px;
}
.data2{
    width: 100%;
    text-align: center;
padding: 10px 20px;

}
.view-lets button{
    font-size: 10px;
}
.a-p{
    font-size: 10px;
}
.giri{
    top: 30%;
    left: 40%;
    
}
}

@media only screen and (min-width:600px) and (max-width:900px){
    .a-p{
        font-size: 15px;
    }
    .lets{
        font-size: 15px;
    }
}

@media only screen and (min-width:950px) and (max-width:1200px) {
    a{
        font-size: 20px;
    }
    .n1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .n1 h1{
        margin-bottom: 0px;
    }
}
