*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    position: absolute;
    overflow-x: hidden;

}
.details{
    position: relative;
    animation-name: projects;
    animation-duration: 1s;
    left: 1000px;
    animation-fill-mode: forwards;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.icon{
    color: white;
}

.projects1-5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  gap: 30px;
  padding: 10px;
  

}
.imgs{
    position: relative;
}
img{
    position: absolute;
    left: -16px;
}
.project{
    font-size: 35px;
    color: black;

}
.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
      
       border-top-right-radius: 60px;
       border-bottom-right-radius: 60px;
       background-image: linear-gradient(to left, rgb(74, 73, 73),white ,white,gray );
       margin-top: 10px;
}
.nav2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
     transition: all 1s;

}
nav input{
    display: none;
}
input:checked~.nav2{
    background-color: white;
    right: 5%;
}
.icon{
    display: none;
    color: black;
}
label{
    display: none;
}
.slid{
    color:black;
}

.project1{
    width: 170px;
    /* min-height: 400px; */
    overflow: hidden;
    border-radius: 30px;
    transition: all 1s;
    position: relative;
}


.mobile{
    position: absolute;
   top: 250px;
   transition: all 1s;
   left: 10px;
}

 /* hovers */


 .project1:hover{
    width: 600px;
}

.project1:hover .mobile{
     top:10px;
    left: 260px;
}
.project1:hover .p1 h1{
   
    left:0px;
}
.project11:hover ~.project2{
width: 100px;
} 
.project11:hover ~.project3{
width: 100px;
height: 370px;
} 
.project11:hover ~.project4{
width: 100px;
height: 330px;
} 
.project11:hover ~.project5{
width: 100px;
height: 280px;
} 

/* hover project2 */

.project2:hover ~.project11{
width: 100px;
} 
.project2:hover ~.project3{
width: 100px;
height: 370px;
} 
.project2:hover ~.project4{
width: 100px;
height: 330px;
} 
.project2:hover ~.project5{
width: 100px;
height: 280px;
} 

/* hover project 3 */

.project3:hover ~.project11{
width: 100px;
height: 280px;
} 
.project3:hover ~.project2{
width: 100px;
height: 330px;
} 
.project3:hover ~.project4{
width: 100px;
height: 330px;
} 
.project3:hover ~.project5{
width: 100px;
height: 280px;
} 


/* hover project 4 */

.project4:hover ~.project11{
width: 100px;
height: 280px;
} 
.project4:hover ~.project2{
width: 100px;
height: 370px;
} 
.project4:hover ~.project3{
width: 100px;
height: 330px;
} 
.project4:hover ~.project5{
width: 100px;
height: 280px;
} 

/* hover project5 */


.project5:hover ~.project11{
width: 100px;
height: 280px;
} 
.project5:hover ~.project2{
width: 100px;
height: 340px;
} 
.project5:hover ~.project3{
width: 100px;
height: 370px;
} 
.project5:hover ~.project4{
width: 100px;

} 

.p1{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;

}
.p1 h1{
    font-size: 150px;font-weight: 800;
   position: absolute;
   bottom: 5px;
   right: 10px;
    transition:all 2s;
}
.p1 p{
    font-size: 30px;
    font-weight: 900;
}
.p1-left{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.skills {
  width: 300px;
  margin-top: 30px;
}

.skill {
  margin-bottom: 15px;
  display: flex;
  margin-top: 15px;
}

.skill span {
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
  color: #333;
  width: 30%;
}

.bar {
    width: 70%;
  height: 10px;
  border-radius: 20px;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

.red::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 60%;
  background: #e74c3c;
  border-radius: 20px;
}

.blue::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  background: #3498db;
  border-radius: 20px;
}

.yellow::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background: #f1c40f;
  border-radius: 20px;
}

.cyan::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 95%;
  background: #1abc9c;
  border-radius: 20px;
}

.purple::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 20%;
  background: #8e44ad;
  border-radius: 20px;
}

.p1-right p{
    font-weight: 10;
    margin-top: 60px;
    font-size: 20px;
}

.p1-right span{
    font-weight: 800;
}

.screen-shot{
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: scale(1);
    transition: all 1s;
    animation-name: screen-shot;
    animation-duration: 1s;
    overflow: hidden;
    display: flex;
    animation-fill-mode: forwards;
}
body{
    overflow-x: hidden;
}
.p1-right{
    left: 200px;
    position: relative;
}
@keyframes screen-shot {
    
    from{
        transform: scale(1);
        opacity: 1;
    }to{
        transform: scale(4);
        opacity:0;
        display:none;
    }
}
@keyframes projects {
    to{
        left: 0px;
    }
}
@media only screen and (max-width:950px) {
    .nav2{
        position: fixed;
        top: 100px;
        background-color: white;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
        border-radius: 10px;
    }
    .icon{
        display: block;
        color: white;
        font-size: 40px;
    }
    label{
        display: block;
         color: white;
    }
    a{
        
        mix-blend-mode: difference;
    }
.nav1 .project{
    
    color: white;
    mix-blend-mode: difference;
}
.projects1-5{
    flex-wrap: wrap;
}
}
@media only screen and (min-width:300px) and (max-width:600px) {
    .p1-right{
        font-size: 15px;
        padding: 10px;
    }
    
   .project1:hover h1{
    opacity: 0;
}
   .project1:hover .p1{
    flex-direction: column;
}
.project1:hover .mobile{
     top:230px;
    right: 100px;
}
.nav1{
    width: 40%;
    height: 65%;
}
.nav1 .project{
    font-size: 20px;
    color: white;
    mix-blend-mode: difference;
}
}

