*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;

}
.details{
    position: relative;
    animation-name: projects;
    animation-duration: 1s;
    left: 1000px;
    animation-fill-mode: forwards;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.icon{
    color: white;
}
.project{
    font-size: 35px;
    color: black;

}
.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
      
       border-top-right-radius: 60px;
       border-bottom-right-radius: 60px;
       background-image: linear-gradient(to left, rgb(74, 73, 73),white ,white,gray );
       margin-top: 10px;
}
.nav2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
     transition: all 1s;

}
nav input{
    display: none;
}
input:checked~.nav2{
    background-color: black;
    right: 5%;
}
.icon{
    display: none;
}
label{
    display: none;
    color: white;
}
.slid{
    color: white;
}

.projects{
    width: 100%;
    min-height:100vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    
}
.pro{
    width: 400px;
    min-height: 350px;
    margin-top: 40px;

}
.p1{
    background-color:white;
      padding: 10px;
      border-radius: 10px 10px 20px 20px;
}

.pro1{
  padding: 30px 10px 10px 10px;
    background-color: rgb(207, 204, 204);
    border-radius: 5px;
}
.pro2{
     padding: 30px 10px 10px 10px;
  background-color: rgb(58, 57, 57);

  border-radius: 5px;
  color: white;
}
p{
    margin-top: 10px;
}
.pro3{
     padding: 30px 10px 10px 10px;
 background-color: gray;

  border-radius: 5px;
}
.explore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 10px;
   
}
.explore a{
    color: black;
}

.arrow{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 15px;
}
.skils{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0px;
}
.skils button{
padding: 10px 20px;
border-radius: 30px;
background-color: gray;
color: white;
border: none;
scale: 1;
}
.pro3 button{
    background-color: rgb(41, 40, 40);
}
.pro3 .skils{
    margin-top: 80px;

}

button:hover{
    background-color:rgb(67, 67, 67) ;
    scale: 1.10;
}

@keyframes projects {
    to{
        left: 0px;
    }
}
@media only screen and (max-width:950px) {
    .nav2{
        position: fixed;
        top: 100px;
        background-color: black;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
        border-radius: 10px;
    }
    .icon{
        display: block;
        color: white;
        font-size: 40px;
    }
    label{
        display: block;
         color: white;
    }
    a{
        color: white;
        mix-blend-mode: none;
    }
}


@media only screen and (min-width:300px) and (max-width:450px) {
 .nav1{
    width: 75%;
 }   
}
@media only screen and (min-width:450px) and (max-width:900px) {
 .nav1{
    width: 50%;
 }   
}