* {
    padding: 0x;
    margin: 0px;
    box-sizing: border-box;
}
body{
      overflow: hidden;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation-name: test;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    top: 10px;
    gap: 20px;
    padding: 0px 20px;
}
.n2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}
nav input{
    display: none;
}
input:checked~.n2{
    background-color: black;
    right: 5%;
    border-radius: 10px;
}
.icon{
    display: none;
    color: black;
}
label{
    display: none;
}
.s1 {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 90px;

}

.s2 {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 165px;

}

.test {
    position: relative;
    top: 100px;
    left: 60px;
    border-bottom: 2px solid black;
    letter-spacing: 10px;
    display: inline-block;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cards {
width: 3000px;
height: 3000px;
border-radius: 50%;
    display: flex;
    position: relative;
    animation-name: card;
    animation-duration:8s;
    transition: 5s;
    top: 450px;
    left: 0;
    margin: 15px;
    /* background-color: red; */
    gap: 30px;
    transform: rotateZ( center );
    rotate: 0deg;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
  z-index: 998;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}
a{
    text-decoration: none;
     color: black;
     font-size: 30px;
}
.img1{
top: 100px;
left: 40px;
}
.img2{
top: 80px;
left: 130px;
}
.img3{
left: 300px;
}
.img4{
    top: 130px;
left: 310px;
}
.img5{
    top: 180px;
left: 380px;
}
.img6{
   top:-20px;
}
.card {
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position:absolute;
    
}
.card1{
    top: 210px;
    rotate: -40deg;
    left: 430px;
}
.card2{
    
    top: 60px;
    rotate: -30deg;
    left: 650px;
}
.card3{
     top: -50px;
    rotate: -20deg;
    left: 880px;
   
}
.card4{
    top: -120px;
    rotate: -10deg;
    left: 1130px;
   
}
.card5{
     top: -140px;
    rotate: 0deg;
    left: 1400px;
   
}
.card6{
     top: -115px;
    rotate: 10deg;
    left: 1660px;
   
}
.card7{
     top: -50px;
    rotate: 20deg;
    left: 1910px;
   
}
.card8{
     top: 60px;
    rotate: 30deg;
    left: 2160px;
   
}
.card9{
     top: 220px;
    rotate: 40deg;
    left: 2380px;
   
}
.card10{
     top: 401px;
    rotate: 50deg;
    left: 2565px;
   
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media only screen and (max-width:950px) {
    .n2{
        position: fixed;
        top: 90px;
        background-color: white;
        width: 90%;
        right: 100%;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        z-index: 999;
    }
    a{
        color: white;
    }
    nav{
        justify-content: end;
    }
    .icon{
        display: block;
        font-size: 30px;
        margin-right: 20px;
    }
    label{
        display: block;
    }
    a{
        mix-blend-mode: unset;
    }
}
@keyframes test {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes card {
   
     0%{
        rotate: -30deg;
     }
     10%{
        rotate: -20deg;
     }
     20%{
        rotate: -20deg;
     }
     30%{
        rotate: -10deg;
     }
     40%{
        rotate: -10deg;
     }
     50%{
        rotate: 0deg;
     }
     60%{
        rotate: 0deg;
     }
     70%{
        rotate: 10deg;
     }
     80%{
        rotate: 10deg;
     }
     90%{
        rotate: 20deg;
     }
     100%{
        rotate: 20deg;
     }
}
@media only screen and (min-width:300px) and (max-width:700px) {
    .cards{
        top: 350px;
    }
}